.filter-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    /* grid-template-columns: repeat( 6, minmax(150px, 1fr)); */
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 15px;
}

.filter-grid .dropdown .dropdown-toggle::after {
    -webkit-appearance: none;
    appearance: none;
    border: none;
}

.filter-grid .dropdown img {
    padding-left: 10px;
    position: absolute;
    right: 10px;
}

.filter-grid .dropdown .btn:focus,
.filter-grid .dropdown .btn {
    outline: none;
    border: 1px solid #526375;
    color: #231F20;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 100%;
    max-width: 200px;
}

.filter-grid .dropdown .dropdown-menu {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: none;
    padding: 10px;
    width: 100%;
    min-width: 11.5rem;
}

.filter-grid .dropdown .btn.clear-btn {
    background: #2F3789;
    color: #fff;
}

.record-btn.c-btn-1 {
    min-width: 120px;
}


/* neurodivergent */

.neurodivergent-area .nav-pills .nav-link.active,
.neurodivergent-area .nav-pills .show>.nav-link {
    color: #fff;
    background: #2F3789;
}

.live-filter-area .nav-pills .nav-link,
.neurodivergent-area .nav-pills .nav-link {
    color: #231F20;
    background: #EFEFEF;
    border-radius: 10px;
    margin-right: 15px;
    width: 150px;
}


/* live */

.live-filter-area .nav-pills .nav-link.active,
.live-filter-area.nav-pills .show>.nav-link {
    color: #fff;
    background-color: var(--s-primary-color);
}

.live-course-grid .filter-grid .dropdown .dropdown-menu {
    min-width: 15.5rem;
}

.live-course-grid .filter-grid .dropdown .btn:focus,
.live-course-grid .filter-grid .dropdown .btn {
    min-width: 180px;
}