    /* banner-area */
    
    .banner-area .bg-abs img {
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        max-width: 68%;
        height: 100%;
    }
    
    .banner-area .banner-content .s-heading {
        line-height: 1.2;
    }
    
    .banner-area .banner-content>p {
        margin-top: 15px;
        margin-bottom: 21px;
    }
    /* program-area */
    
    .program-area {
        position: relative;
    }
    
    .wbl-compare-c {
        display: inline-block;
    }
    
    .wbl-compare-c .tier-num h3 {
        font-weight: 400;
        font-size: 37.218px;
        line-height: 45px;
        font-family: 'Inter', sans-serif;
        -webkit-text-fill-color: #fff;
        -webkit-text-stroke-width: 1px;
        display: inline-block;
    }
    
    .wbl-compare-c .tier-num span {
        height: 60px;
        width: 1.75px;
        display: inline-block;
        margin: 0px 10px;
    }
    
    .wbl-compare-c .tier-num {
        display: flex;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        padding: 20px;
        width: 280px;
        height: 90px;
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        position: relative;
        z-index: 333;
    }
    
    .wbl-compare-c .tier-num .tier-t {
        font-family: 'Inter', sans-serif;
        line-height: 10px;
    }
    
    .wbl-compare .wbl-compare-c {
        position: absolute;
    }
    
    .wbl-c-img>img {
        width: 335px;
        height: 335px;
    }
    
    .wbl-compare .wbl-compare-c:nth-child(1) {
        /* right:65px; */
        right: 8%;
        top: 0;
    }
    
    .wbl-compare .wbl-compare-c:nth-child(2) {
        /* right:30px;
    top:160px; */
        right: 4%;
        top: 50%;
    }
    
    .wbl-compare .wbl-compare-c:nth-child(3) {
        right: 33%;
        bottom: -20%;
    }
    
    .wbl-compare .wbl-compare-c:nth-child(4) {
        left: 4%;
        top: 50%;
    }
    
    .wbl-compare .wbl-compare-c:nth-child(5) {
        left: 8%;
        top: 0;
    }
    
    .wbl-compare-c:nth-child(1) .tier-num .tier-t {
        color: #AA435E;
    }
    
    .wbl-compare-c:nth-child(1) .tier-num h3 {
        color: #AA435E;
        -webkit-text-stroke-color: #AA435E;
    }
    
    .wbl-compare-c:nth-child(1) svg {
        position: absolute;
        left: -27px;
        top: 0px;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
    }
    
    .wbl-compare-c:nth-child(1):hover svg {
        visibility: visible;
        opacity: 1;
    }
    
    .wbl-compare-c:nth-child(1) .tier-num span {
        background: linear-gradient(90deg, #FF67A0 0.22%, #871735 99.23%);
    }
    
    .wbl-compare-c:nth-child(2) .tier-num .tier-t {
        color: #2F72B5;
    }
    
    .wbl-compare-c:nth-child(2) .tier-num h3 {
        color: #2F72B5;
        -webkit-text-stroke-color: #2F72B5;
    }
    
    .wbl-compare-c:nth-child(2) .tier-num span {
        background: linear-gradient(90deg, #56C9FF 0.2%, #123F91 99.2%);
    }
    
    .wbl-compare-c:nth-child(3) .tier-num .tier-t {
        color: #D4A12E;
    }
    
    .wbl-compare-c:nth-child(3) .tier-num h3 {
        color: #D4A12E;
        -webkit-text-stroke-color: #D4A12E;
    }
    
    .wbl-compare-c:nth-child(3) .tier-num span {
        background: linear-gradient(90deg, #FFE77A 0.89%, #FAD163 23.59%, #EE9827 71.04%, #E67300 99.89%);
    }
    
    .wbl-compare-c:nth-child(4) .tier-num .tier-t {
        color: #5D5292;
    }
    
    .wbl-compare-c:nth-child(4) .tier-num h3 {
        color: #5D5292;
        -webkit-text-stroke-color: #5D5292;
    }
    
    .wbl-compare-c:nth-child(4) .tier-num span {
        background: linear-gradient(90deg, #AA95FF 0.93%, #6A1974 99.93%);
    }
    
    .wbl-compare-c:nth-child(5) .tier-num .tier-t {
        color: #5A9360;
    }
    
    .wbl-compare-c:nth-child(5) .tier-num h3 {
        color: #5A9360;
        -webkit-text-stroke-color: #5A9360
    }
    
    .wbl-compare-c:nth-child(5) .tier-num span {
        background: linear-gradient(90deg, #ADFF92 0.68%, #48822B 99.68%);
    }
    /* career */
    
    .career .single-content {
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .career .single-content img {
        max-width: 120px;
        height: 120px;
    }
    /* Live course */
    
    .live-course .live-btn {
        width: 180px;
        padding: 0px;
        margin: 0px 8px;
    }
    /* student-feedback */
    
    .student-feedback .student-items .quote {
        position: absolute;
        top: -20px;
    }
    
    .student-feedback .com-slider.owl-theme .owl-dots .owl-dot span {
        margin-top: 35px;
    }
    
    .student-slider.owl-nav {
        display: none;
    }
    
    .student-items {
        position: relative;
        display: inline-block;
        padding-top: 80px;
    }
    
    .student-items>img {
        position: absolute;
        top: 0px;
        width: 350px !important;
    }
    
    .student-content {
        position: relative;
        width: 90%;
        margin-left: 10%;
        padding: 35px 15px;
    }
    /*
==========================================
   08. partner CSS
==========================================
*/
    
    .partner-slider.com-slider.owl-theme .owl-nav [class*=owl-] {
        top: 20%;
        color: var(--s-primary-color1);
        background-color: var(--white);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    }
    
    .partner-slider.com-slider .owl-nav button.owl-next {
        right: -5.5%;
    }
    
    .partner-slider.com-slider .owl-nav button.owl-prev {
        left: -5.5%;
    }
    
    .partner-slider.owl-carousel .owl-item img {
        max-width: 100%;
        width: auto;
        height: auto;
        margin: 0 auto;
    }
    /* achivevment */
    
    .achievement-wrapper .achievement-c {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    
    .achievement-wrapper .achievement-c>div {
        margin-bottom: 30px;
    }
    
    .achievement-wrapper .achievement-c .com-f h3 {
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        color: #231F20;
    }
    
    .achievement-wrapper .achievement-c .h-100-r img {
        width: 50px;
        height: 50px;
    }
    
    .achievement-wrapper .achievement-c .user .h-100-r {
        background: #E9C6E7;
    }
    
    .achievement-wrapper .achievement-c .learner .h-100-r {
        background: #C5B5F1
    }
    
    .achievement-wrapper .achievement-c .instructor .h-100-r {
        background: #B5C1ED
    }
    
    .achievement-wrapper .achievement-c .course .h-100-r {
        background: #F1D9B7
    }
    
    .prog-neuro.sec-padding {
        background: #E6E8FF;
    }