.btn-2,
.btn-3 {
    background: #446AD8;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    padding: 0.475rem 0.475rem;
}

.btn-2 {
    background: #446AD8;
    color: #FFFFFF;
}

.btn-3 {
    background: #E1DEDE;
    color: #263238;
}

.email-btn-g {
    gap: 15px;
    justify-content: center;
}